* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	color: gold;
	margin-top: 150px;
	margin-bottom: 50px;
}
 ul {
 	text-align: center;
 	list-style-type: none;
 	color: silver;
 	font-size: 25px;
 }